@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    min-width: 0;
}

input {
    color-scheme: dark;
}

.rdp-root {
    --rdp-accent-color: #BEF264;
    --rdp-accent-background-color: #bef26449;
    --rdp-day_button-height: 2.75rem;
    --rdp-day_button-width: 2.75rem;
    --rdp-selected-font: 2.75rem;
    --rdp-range_middle-font: 2.75rem;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px rgb(9,9,11) inset !important;
    -webkit-text-fill-color: rgb(212,212,216) !important; /* Cor do texto preenchido */
      color: rgb(212,212,216) !important; /* Cor do texto preenchido */
    
  }

  /* Firefox */
  input:-moz-autofill {
    box-shadow: 0 0 0 1000px rgb(9,9,11) inset !important;
    -moz-text-fill-color: rgb(212,212,216) !important;
    color: rgb(212,212,216) !important; /* Cor do texto preenchido */
  }